:root {
    --col-width: 8.33333333333%;
    }

.container {
    margin: auto;
    max-width: 900px;
}

.row {
    display: flex;
}

.row img{
    height: 230;
    width: 230;
}

.col-1 {
    width: var(--col-widht);
}

.col-2 {
    width: calc(var(--col-width) * 2);
}

.col-3 {
    width: calc(var(--col-width) * 3);
}

.col-4 {
    width: calc(var(--col-width) * 4);
}

.col-5 {
    width: calc(var(--col-width) * 5);
}

.col-6 {
    width: calc(var(--col-width) * 6);
}

.col-7 {
    width: calc(var(--col-width) * 7);
}

.col-8 {
    width: calc(var(--col-width) * 8);
}

.col-9 {
    width: calc(var(--col-width) * 9);
}

.col-10 {
    width: calc(var(--col-width) * 10);
}

.col-11 {
    width: calc(var(--col-width) * 11);
}

.col-12 {
    width: calc(var(--col-width) * 12);
}

[class*="col-"] { /* selecciona los atributos class cuyos valores tenga una subcadena col-*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

[class*="col-"] img{ /* selecciona los atributos class cuyos valores tenga una subcadena col-*/
    height: 150px;
    width: 150px;
}

.modulo_pago {
    height: 100%;
}


@media (max-width: 900px) {
    .container {
        text-align: center;
    }
    .row {
        display: inherit;
    }

    [class*="col-"] { /* selecciona los atributos class cuyos valores tenga una subcadena col-*/
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        }
    
    .modulo_pago {
        width: 100%;
    }
}